@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap');
:root {
    --blue: #01A5E6;
    --white: #FFFFFF;
    --darker-blue: #0184B8;
    --red: #ED1B3B;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

.topnav {
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

.topnav .left {
    padding-left: 20px;
}

.topnav .right {
    display: flex;
}

.topnav .right a {
    padding: 10px;
    color: black;
    text-decoration: none;
}

.topnav .right a:not(.active)::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #000;
    transition: width .3s;
}

.topnav .right a:not(.active):hover::after {
    width: 100%;
}

.topnav .right a.active {
    color: var(--red);
}

.topnav .right a:last-child {
    margin-right: 20px;
}

.hero {
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.5), transparent), url("park.png");
    height: 450px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero .content {
    text-align: left;
    display: flex;
    flex-direction: column;
    color: white;
    align-content: center;
    justify-content: center;
    height: 450px;
    margin-left: 100px;
}

.hero .content h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 90px;
    margin: 0;
}

.hero .content h1.gradient {
    background: linear-gradient(90.74deg, #F14962 12.14%, #ED1B3B 61.92%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.hero .content .buttons {
    margin-top: 25px;
}

.button {
    background-color: var(--blue);
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    transition: background 0.2s, color 0.2s;
}

.button:not(.outline):hover {
    background-color: var(--darker-blue);
}

.button.large {
    font-size: 17px;
    padding: 20px 50px;
}

.button.outline {
    background-color: transparent;
    border: 1px solid var(--blue);
    color: var(--blue);
}

.button.outline:hover {
    background-color: var(--blue);
    color: white;
}

.time .info {
    margin-left: 100px;
}

.time h2 {
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 77px;
    margin: 0px;
}

.time h2.gradient {
    font-weight: 700;
    background: linear-gradient(270deg, #01A5E6 1.64%, #21BFFE 72.12%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.time .why {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: space-around;
}

.time .why .reason {
    width: 300px;
    text-align: center;
}

.time .why .reason svg {
    margin: 0;
}

.time .why .reason h3 {
    margin: 0;
    font-weight: 400;
    font-size: 40px;
}

.tabs {
    border-radius: 8px;
    overflow: hidden;
    margin: 30px;
    outline: 1px solid black;
}

.tab {
    width: 100%;
    overflow: hidden;
    outline: 1px solid black;
}

.tab input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.tab-label {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    font-weight: bold;
    cursor: pointer;
}

.tab-label:hover {
    background: rgb(200, 200, 200);
}

.tab-label::after {
    content: "\276F";
    width: 1em;
    height: 1em;
    text-align: center;
    transition: all .35s;
}

.tab-content {
    max-height: 0;
    padding: 0 1em;
    color: #2c3e50;
    background: white;
    transition: all .35s;
}

.tab-close {
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    font-size: 0.75em;
    background: #2c3e50;
    cursor: pointer;
}


/* 
.tab-close:hover {
    background: #1a252f;
} */


/* input:checked+.tab-label {
    background: #1a252f;
} */

input:checked+.tab-label::after {
    transform: rotate(90deg);
}

input:checked~.tab-content {
    max-height: 100vh;
    padding: 1em;
}